body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(250, 233, 185);
}
#sobre-nos{

    border-radius: 50px;
    box-shadow: 5px  5px  10px rgba(44, 39, 39, 0.614);
    width: 80vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:black;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 50px;
    background-image: url(../imagens/LOGO_OPACA.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.container-sb{
    margin-top: 10px;
    margin-left: 7%;
}

i{
    position: fixed;
    color: white;
    font-size: 50px;
    text-shadow: 1px  1px  5px rgb(44, 39, 39);
    margin: 50px;
}

i:hover{
    transition: .6s;
    transform: scale(1.6);
    color:#8B4513;
}

#div-img{
    background-image:url(../img/slide/slide5.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 50px;

}

h1{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 50px;
    color: aliceblue;
    text-shadow: 5px  5px  5px rgba(44, 39, 39, 0.601);
}

